# Dependencies
node_modules/
.pnpm-store/

# Next.js & Turbo build outputs
.next/
dist/
dist-hostinger/
build/
.turbo/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS & IDE
.DS_Store
*.pem
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.zip
dist-hostinger/
